* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Segoe UI", sans-serif;
    background-color: #141028;
     background-image:
        radial-gradient(circle at 20% 20%, rgba(255,255,255,0.06), transparent 30%);
    color: white;
}

.theme-btn {
    position: fixed;
    top: 25px;
    right: 30px;
    background: none;
    border: none;
    color: #a78bfa;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
}


.the-top {
    height: 100vh;                 /* ياخذ طول الشاشة كامل */
    background: transparent;
    display: flex;
    justify-content: flex-start; 
    padding-left: 80px;
    align-items: center;           /* توسيط عمودي */
    text-align: left;
    color: white;
}
.the-top h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.the-top h2 {
    font-size: 32px;
    font-weight: 5px;
}
#name {
    color: #a78bfa;   /* البرتقالي من البالت */
}
.about-container {
    display: flex;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 20px;
    align-items: center;
    background: transparent;
    color: #ffffff;


    
}

.about-container h2 {
    width: 30%;
    font-size: 36px;
    color: #d1d5db;
}

.about-container p {
    width: 60%;
    line-height: 2.5;
    font-size: 18px;
    
}

.projects {
    padding: 100px 20px;
    background: transparent;
    color: #d1d5db;
}

.projects h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 60px;
    color: #d1d5db;
}

.cards-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background-color: #1c1538;
    color: #d1d5db;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 40px;
}

.card h5 {
    font-size: 18px;
    margin-bottom: 10px;
}
.card:hover {
    transform: translateY(-10px);
}

.contact-me {
    position: relative;
    padding: 150px 0 0 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
    align-items: center;
}


.contact-container h2 {
    margin-bottom: 30px;
    width: 30%;
    color: #d1d5db;
    font-size: 36px;
}

.phone {
    font-size: 22px;
}

.contact-info {
    display: flex;
    align-items: center;   
    gap: 50px;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 40 px;
    font-size: 20px;        
    color: #ffffff;         
    text-decoration: none;  
    font-weight: 500;
}


.contact-link img {
    width: 40px;
    height: 40px;
}

/* ===== LIGHT MODE ===== */

body.light-mode {
    background-color: #f5f3ff;
    color: #5b21b6;  /* النص بنفسجي */
}

/* الإضاءة البنفسجية */
body.light-mode {
    background-image:
        radial-gradient(circle at 20% 20%, rgba(139, 92, 246, 0.15), transparent 30%);
}

body.light-mode .the-top {
    color: #6d28d9;   /* بنفسجي */
}

/* اسمك بنفسجي أغمق */
body.light-mode #name {
    color: #4c1d95;
}

/* العناوين */
body.light-mode h2,
body.light-mode h3 {
    color: #6d28d9;
}

/* الكروت */
body.light-mode .card {
    background-color: #ffffff;
    color: #5b21b6;
}

/* روابط التواصل */
body.light-mode .contact-link {
    color: #6d28d9;
}
body.light-mode .about-container p {
    color: #5b21b6;
}



